.container{
    width: 350px;
    height: 600px;
    border: 1px dashed;
    border-radius: 2px;
    padding: 1rem;
}
.user {
    display: flex;
    align-items: center;
    padding: 8px;
  
    @media only screen and (min-width: 600px) {
      display: none;
    }
  
    &-label {
      display: flex;
      padding-right: 8px;
    }
  
    &-list {
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      
      
      &Item {
        min-width: 54px;
        height: 54px;
        margin-right: 4px;
        position: relative;
        cursor: pointer;
  
        figure {
          margin: 0;
          position: absolute;
  
          picture img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid transparent;
            object-fit: cover;
          }
        }
  
        &Border {
          width: 50px;
          height: 50px;
  
          position: absolute;
          border: 2px solid transparent;
          background: red;
          border-radius: 50%;
  
          background-image: linear-gradient(white, white),
            radial-gradient(circle at top left, #303ab2, #1edbcf);
          background-origin: border-box;
          background-clip: content-box, border-box;
  
          animation: spin 2s linear infinite;
        }
      }
  
      :last-child {
        margin-right: 0;
      }
    }
  
  }
  
  @keyframes spin {
    100% {
      transform: rotateZ(360deg);
    }
  }